<title>Smarthome</title>
<style type="text/css">
    button.new {
        background: -moz-linear-gradient(#00BBD6, #EBFFFF);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
        padding: 3px 7px;
        color: #333;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #666;
    }
</style>
<body>
    <h1>Main Page Smart Home</h1>
<p><a href="http://amur.info">Go to gadjet</a></p>
<form>
    <p><input type="button" value=" Button "></p>
    <p><button class="new">Button</button></p>
</form>

<p id="demo" onclick="myFunction()">Click me to change my text color.</p>

<script>
    function myFunction() {
        document.getElementById("demo").style.color = "red";
    }
</script>
</body>