<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Ter FROM, atribut action</title>
<style>
    h1 { font-size: 24 pt; margin-left: 30px; }
    p  { margin-left: 30px; }
    .my_button {
        width: 200px;
        height: 90px;
        background: red;
        border-radius: 10px;
    }
</style>
</head>
<body>
<h1>Test size</h1>
<form action="http://amur.info" enctype="text/plan">
<p><input type="submit" value="Write letter" class="my_button"></p>
</form>
</body>
</html>